.chatInput {
  border-radius: 20px;
}

.textInput > form {
  position: relative;
  display: flex;
  justify-content: center;
}

.textInput > form > input {
  position: fixed;
  bottom: 30px;
  width: 60%;
  border: 1px solid gray;
  border-radius: 3px;
  padding: 20px;
}

.textInput > form > button {
  display: none !important;
  /* color: white;
    background-color: #49274b; */
}

.textInput > form > button:hover {
  background-color: black;
}
